server:
  port: 9200

spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/fraud_aml
    username: bank
    password: bankpass
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: false

  kafka:
    bootstrap-servers: redpanda:9092
    consumer:
      group-id: fraud-aml-consumer
      auto-offset-reset: earliest
      enable-auto-commit: false
    listener:
      ack-mode: manual

app:
  policyPath: /policies/fraud_policy.json
  betting:
    blacklistIbanPrefixes:
      - "TR00BET"
      - "TR00BHS"

app:
  redis:
    host: redis
    port: 6379

  velocity:
    # Short time windows
    windowSeconds: 300      # 5 minutes
    maxTxCount: 6           # 6+ transfer in 5 minutes
    maxTotalAmountCents: 1500000  # 1.5 million Turkish Lira in 5 minutes (for demo)

    management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always

